        </div>
    </div>

    <hr>
    <footer>
        <p class="pull-left">© Teeworlds-stats.info 2013</p>
        <p class="pull-right">Powered by: <a href="https://usman.it/free-responsive-admin-template">Charisma</a></p>
    </footer>

    <!-- Google+ stuff -->
    <script type="text/javascript">
        (function () {
            var po = document.createElement('script');
            po.type = 'text/javascript';
            po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(po, s);
        })();
    </script>
    <script src="/assets/vendor/js-cookie/js.cookie.js" type="text/javascript"></script>
</body>
</html>
