<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
    <!--
        Charisma v1.0.0

        Copyright 2012 Muhammad Usman
        Licensed under the Apache License v2.0
        http://www.apache.org/licenses/LICENSE-2.0

        http://usman.it
        http://twitter.com/halalit_usman
    -->
    <meta charset="utf-8">
    <title>{{ title }}</title>
    {{ slugify() }}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="DaRealFreak">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <!-- The styles -->
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }
    </style>

    <base href="{% if basedir %}{{ basedir }}{% endif %}"/>

    {% for file in css %}
        <link href="{{ file }}" rel="stylesheet" type="text/css"/>
    {% endfor %}

    {% for file in js %}
        <script type="text/javascript" src="{{ file }}"></script>
    {% endfor %}

    <!-- Facebook stuff -->
    <meta property="fb:admins" content="1547944861920483"/>
    <meta name="robots" content="index"/>
    <script src="/assets/vendor/jquery/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        // ToDo: update google analytics account
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-29311658-3']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' === document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>

<body>

    <div id="fb-root"></div>
    <script>
        // This is called with the results from from FB.getLoginStatus().
        function statusChangeCallback(response) {
            // console.log('statusChangeCallback');
            // console.log(response);

            // The response object is returned with a status field that lets the
            // app know the current login status of the person.
            // Full docs on the response object can be found in the documentation
            // for FB.getLoginStatus().
            if (response.status === 'connected') {
                // Logged into your app and Facebook.
                testAPI();
            } else {
                // The person is not logged into your app or we are unable to tell.
                document.getElementById('status').innerHTML = 'Please log ' +
                    'into this app.';
            }
        }

        // This function is called when someone finishes with the Login
        // Button.  See the onlogin handler attached to it in the sample
        // code below.
        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '133904623933394',
                cookie: true,  // enable cookies to allow the server to access
                               // the session
                xfbml: true,  // parse social plugins on this page
                version: 'v2.11' // use graph api version 2.11
            });

            // Now that we've initialized the JavaScript SDK, we call
            // FB.getLoginStatus().  This function gets the state of the
            // person visiting this page and can return one of three states to
            // the callback you provide.  They can be:
            //
            // 1. Logged into your app ('connected')
            // 2. Logged into Facebook, but not your app ('not_authorized')
            // 3. Not logged into Facebook and can't tell if they are logged into
            //    your app or not.
            //
            // These three cases are handled in the callback function.

            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });

        };

        // Load the SDK asynchronously
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        // Here we run a very simple test of the Graph API after login is
        // successful.  See statusChangeCallback() for when this call is made.
        function testAPI() {
            // console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function (response) {
                // ToDo: display accounts if not visible already
                console.log('Successful login for: ' + response.name);

                //document.getElementById('status').innerHTML =
                //    'Thanks for logging in, ' + response.name + '!';
            });
        }
    </script>

    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="/">
                    <img alt="Tee image" src="/images/teegun.png">
                </a>
                <div class="top-nav nav-collapse">
                    <ul class="nav">
                        <li><a href="/"><img src="/images/teeworlds-stats.png" alt="Teeworlds statistics"/></a></li>
                    </ul>
                </div>
                {% if not logged %}
                    <div class="btn-group pull-right">
                        <fb:login-button></fb:login-button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">