{% include 'header.twig' %}

{% if navigation %}
    {{ navigation | raw }}
{% endif %}

<div id="content" class="span9">
    <div>
        <ul class="breadcrumb">
            <li>
                <h3>Teeworlds statistics on Clans, Countries, Mods, Servers and Tees !</h3>
            </li>
        </ul>
    </div>

    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header well" data-original-title="">
                <h2><i class="icon-edit"></i> Choose a statistic</h2>
            </div>
            <div class="box-content">

                <h3>Player statistics</h3><br/>
                <form action="tee" method="get" class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="focusedInput">Tee name :</label>
                    <div class="controls">
                      <input class="input-xlarge focused" type="text" name="n" />
                        <button type="submit" class="btn" />See the stats</button>
                    </div>
                </div>
                </form>

                {% if missingTee %}
                    <div class="list arrow2Blue">
                        <span class="legend">This player does not exist
                            {% if suggestionsTee %}
                                , try one of the following :
                            {% endif %}
                        </span>
                        <ul>
                            {% for url,name in suggestionsTee %}
                                <li><a href="{{ url }}">{{ name }}</a></li>
                            {%  endfor %}
                        </ul>
                    </div>
                {% endif %}

                <br/><h3>Clan statistics</h3><br/>
                <form action="clan" method="get" class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="focusedInput">Clan name :</label>
                    <div class="controls">
                      <input class="input-xlarge focused" type="text" name="n" />
                        <button type="submit" class="btn" />See the stats</button>
                    </div>
                </div>
                </form>

                {% if missingClan %}
                    <div class="list arrow2Blue">
                        <span class="legend">This clan does not exist
                            {% if suggestionsClan %}
                                , try one of the following :
                            {% endif %}
                        </span>
                        <ul>
                            {% for url,name in suggestionsClan %}
                                <li><a href="{{ url }}">{{ name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}


                <br/><h3>Server statistics</h3><br/>
                <form action="server" method="get" class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="focusedInput">Server name :</label>
                    <div class="controls">
                      <input class="input-xlarge focused" type="text" name="n" />
                        <button type="submit" class="btn" />See the stats</button>
                    </div>
                </div>
                </form>

                {% if missingServer %}
                    <div class="list arrow2Blue">
                        <span class="legend">This server does not exist
                            {% if suggestionsServer %}
                                , try one of the following :
                            {% endif %}
                        </span>
                        <ul>
                            {% for url,name in suggestionsServer %}
                                <li><a href="{{ url }}">{{ name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

            </div>
        </div><!--/span-->
    </div>

</div>


{% include 'footer.twig' %}
