{% include 'header.twig' %}

{{ navigation|raw }}
<!-- Content -->
<div class="content">
	<div class="title"><h5>Statistics for the server {{ server }}</h5></div>

	<div class="widgets">
		<div class="left">
			{{ players|raw }}
		</div>
		<div class="right">
			{{ countries|raw }}
			{{ maps|raw }}
		</div>
	</div>
	<br/>
	<div style="clear:both;"><br/>
	Do you like {{ server }} ?
	<div class="fb-like" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
	<div class="g-plusone" data-size="medium" data-annotation="none"></div>
	</div>
	<form action="https://www.google.com/search" target="_blank" method="get" class="mainForm">
		<div class="rowElem noborder"><label>Find this server online :</label>
		<div class="formRight"><input type="text" name="q" value="teeworlds {{ server }} server"/></div><div
                    class="fix"></div></div>
		<input type="submit" value="Search on google" class="greyishBtn submitForm" />
		<div class="fix"></div>
	</form>

	{{ hours|raw }}
	{{ days|raw }}

	<div class="fix"></div>

{% include 'footer.twig' %}