{% include 'header.twig' %}

{{ navigation|raw }}

<div id="content" class="span9">
    <div>
        <ul class="breadcrumb">
            <li>
                <h3>{{ tee }}'s {% if teetxt %} profile {% else %} statistics {% endif %} {% if clan or country %}
                                                                ( {{ clan }}{% if clan and country %},
                    {% endif %}{{ country }} ){% endif %}</h3>
            </li>
        </ul>
    </div>


    {% if teetxt %}
    <div class="well">
        {{ teetxt|raw }}
    </div>
    {% endif %}
    <div class="row">

		{{ mods|raw }}
		{{ maps|raw }}

        <div style="clear:both;"><br/>
        Do you like {{ tee }} ?
        <div class="fb-like" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
        <div class="g-plusone" data-size="medium" data-annotation="none"></div>
        </div>

        {{ hours|raw }}
        {{ days|raw }}
    </div>
</div>

{% include 'footer.twig' %}