<!--Load the AJAX API-->
<!--suppress JSUnresolvedFunction, JSUnresolvedVariable -->
<script type="text/javascript">
    // Load the Visualization API and the corechart package.
    google.charts.load('current', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'key');
        data.addColumn('number', 'amount');
        data.addRows({{ histogram|json_encode|raw }});

        // Set chart options
        var options = {
            // title: '{{ name }}'
            'width':280,
            'height':200
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('{{ id }}'));
        chart.draw(data, options);
    }
</script>

<div class="box span4">
    <div class="box-header well" data-original-title="">
        <h2><i class="icon-time"></i> {{ name }}</h2>
    </div>
    <div class="box-content">
        <div id="{{ id }}"></div>
    </div>
</div>