<div class="widgets">
<!-- Static table -->
<div class="widget">
	<div class="head"><h5 class="iFrames">{{ title }}</h5></div>
	<table cellpadding="0" cellspacing="0" width="100%" class="tableStatic">
		<thead>
			<tr>
				<td width="70%">Server</td>
				<td width="30%">Gametype / Mod</td>
			</tr>
		</thead>
		<tbody>
			{% for server in servers %}
			<tr>
				<!-- ToDo: fix link handling -->
				<td><a href="/index.php?server={{ server.servername }}">{{ server.servername }}</a></td>
				<td>{{ server.gametype }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
</div>
